.notification {
    font-weight: bold;
    background: lightgrey;
    font-size: large;
    padding: 5px;
    width: auto;
    margin-bottom: 10px;
}

.error {
    color: red;
    border: 1px solid red;
}

.success {
    color: green;
    border: 1px solid green;
}